body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0055a4; /* Bleu */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #0055a4; /* Bleu */
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    background-color: #0055a4; /* Bleu */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #002395; /* Bleu foncé */
}

.reports-link {
    text-align: center;
    margin-top: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
}

.button {
    background-color: #0055a4; /* Bleu */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.button:hover {
    background-color: #002395; /* Bleu foncé */
}
